extends ../layout

block content
  - var url = user.picture
  img(src=url)
  h2 Welcome #{user.nickname}!
  br
  a(href='/logout') Logout
  br
  a(href='/user/new') New
  h1.
    #{title}
  ul
   each toilet in toilets
      li
        = toilet.name
        = toilet.rating
        = toilet.who
        = toilet.date
        = toilet.long
        = toilet.lat
        form(action='/user/' + toilet._id + '/edit',method='post',enctype='application/x-www-form-urlencoded')
            input(type='hidden',value='DELETE',name='_method')
            button(type='submit').
                Delete
        p 
            a(href='/user/' + toilet._id + '/edit') Edit
        p
            a(href='/user/' + toilet._id) Show
  
  
